/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.cntr-footer {
  height: 80px;
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.pl-2\.5 {
  padding-left: 0.7rem;
}

.pe-pointer {
  cursor: pointer;
}
